<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>CheckLogin</filter-name>
        <filter-class>PPN.Filter.CheckLogin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>RegisterServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>LogoutServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>HomeServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>TRegisterServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>TLoginServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>SearchQuizServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>CreateQuizServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>EditProfileServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>EditNameServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>ForgotPasswordServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>DatabaseServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>DiscreteMathServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>FilterDepartmentServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>ITFundamentalServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>NetworkServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <servlet-name>CheckServlet</servlet-name>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/Home.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/EditProfile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/SearchQuiz.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/ShowPoint.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/Network.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/ITStudent.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/ITFundamental.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/DatabaseManagement.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/CSStudent.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/CreateQuiz.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/DSIStudent.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>CheckLogin</filter-name>
        <url-pattern>/DiscreteMath.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>PPN.Servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>PPN.Servlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>PPN.Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>PPN.Servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TRegisterServlet</servlet-name>
        <servlet-class>PPN.Servlet.TRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TLoginServlet</servlet-name>
        <servlet-class>PPN.Servlet.TLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchQuizServlet</servlet-name>
        <servlet-class>PPN.Servlet.SearchQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateQuizServlet</servlet-name>
        <servlet-class>PPN.Servlet.CreateQuizServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>PPN.Servlet.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditNameServlet</servlet-name>
        <servlet-class>PPN.Servlet.EditNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>PPN.Servlet.ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseServlet</servlet-name>
        <servlet-class>PPN.Servlet.DatabaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscreteMathServlet</servlet-name>
        <servlet-class>PPN.Servlet.DiscreteMathServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterDepartmentServlet</servlet-name>
        <servlet-class>PPN.Servlet.FilterDepartmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ITFundamentalServlet</servlet-name>
        <servlet-class>PPN.Servlet.ITFundamentalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NetworkServlet</servlet-name>
        <servlet-class>PPN.Servlet.NetworkServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckServlet</servlet-name>
        <servlet-class>PPN.Servlet.CheckServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TRegisterServlet</servlet-name>
        <url-pattern>/TRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TLoginServlet</servlet-name>
        <url-pattern>/TLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchQuizServlet</servlet-name>
        <url-pattern>/SearchQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateQuizServlet</servlet-name>
        <url-pattern>/CreateQuiz</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditNameServlet</servlet-name>
        <url-pattern>/EditName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseServlet</servlet-name>
        <url-pattern>/Database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscreteMathServlet</servlet-name>
        <url-pattern>/Discreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterDepartmentServlet</servlet-name>
        <url-pattern>/FilterDepartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ITFundamentalServlet</servlet-name>
        <url-pattern>/ITFundamental</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NetworkServlet</servlet-name>
        <url-pattern>/Network</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckServlet</servlet-name>
        <url-pattern>/Check</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
